<mat-card>
    <mat-card-content>
        
    </mat-card-content>
    <mat-card-content style="text-align: center;">
        <form enctype="multipart/form-data" #justBut="ngForm" (ngSubmit)="submitReport(justBut)">
            <input ngModel="true" name="report" hidden>
            <button type="submit" mat-raised-button>Invia</button>
        </form>
    </mat-card-content>
    <mat-card>
        <mat-card-content>
            <app-table [table]="tableChild"></app-table>
        </mat-card-content>
    </mat-card>
</mat-card>